body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    max-width: none;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 20px;
}

img {
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}